- var page_title = "WISS 2020: 第28回インタラクティブシステムとソフトウェアに関するワークショップ"

- 
  const archival_sessions = [
    { 
      session: "セッション1: 行動支援", 
      talks: [ "01", "02", "03" ] ,
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "セッション2: ディスプレイ", 
      talks: [ "04", "05", "06" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "セッション3: ものづくり", 
      talks: [ "07", "08", "09" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "セッション4: 認識", 
      talks: [ "10", "11", "12" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "セッション5: 入力インタフェース", 
      talks: [ "13", "14", "15", "16", "17" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "セッション6: 情報提示", 
      talks: [ "18", "19", "20" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "セッション7: 教育支援", 
      talks: [ "21", "22", "23" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
  ];
- 
  const non_archival_sessions = [
    { 
      session: "査読なしセッション1", 
      talks: [ "N-01", "N-02", "N-03", "N-04", "N-05", "N-06", "N-07", "N-08", "N-09", "N-10", "N-11", "N-12", "N-13", "N-14", "N-15" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
    { 
      session: "査読なしセッション2", 
      talks: [ "N-16", "N-17", "N-18", "N-19", "N-20", "N-21", "N-22", "N-23", "N-24", "N-25", "N-26", "N-27", "N-28", "N-29" ],
      session_chair: "（未定）",
      chat_chair: "（未定）",
    },
  ];
- const placeholder_image_path = "./assets/representatives/placeholder.jpg"


doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    include includes/header
    .container.nav-padding.content
      h1 全体スケジュール
      .row
        each schedule in schedule_data
          .col-lg-4
            table.table.table-hover(style="margin-bottom: 48px;")
              thead.thead-light
                tr
                  th(scope="col" colspan="2") #{schedule["name"]}
              tbody
                each entry in schedule["content"]
                  tr
                    td #{entry["time"]}
                    td #{entry["title"]} <small>[#{entry["duration"]}分]</small>
      h1 登壇発表・査読なし発表
      .alert.alert-primary(role="alert") 2020/12/02: 現時点では登壇発表のタイトルのみ掲載しています。査読なし発表及び登壇発表の詳細情報は近日中に掲載予定です。
      ul
        li 登壇発表（ロング発表）：<b>25分</b> <small>[発表15分・質疑10分]</small>
        li 登壇発表（ショート発表）：<b>15分</b> <small>[発表10分・質疑5分]</small>
        li 査読なし発表：<b>5分</b> <small>[発表5分・質疑なし]</small>
      .program
        each session in archival_sessions
          hr
          .jumbotron
            h1 #{session["session"]}
            ul.list-inline
              //- li.list-inline-item <b>日時：</b>XX/XX XX:XX&mdash;XX:XX
              li.list-inline-item <b>座長：</b>（未定）
              li.list-inline-item <b>チャット座長：</b>（未定）
          each talk in session["talks"]
            each entry in papers_data
              - const csv_data_entry = papers_author_provided_data[parseInt(talk) - 1];
              - const image_path = csv_data_entry["image"] == "TRUE" ? "./assets/representatives/" + talk + ".jpg" : placeholder_image_path;
              - const category_class = csv_data_entry["category"] == "L" ? "badge-long" : "badge-short";
              - const category_name = csv_data_entry["category"] == "L" ? "ロング発表" : "ショート発表";
              if entry["id"] == talk
                h2 [#{talk}] #{entry["title"]} <span class="badge #{category_class}">#{category_name}</span>
                p.authors #{entry["authors"]}
                .row
                  .col-md-4
                    img.img-fluid.img-thumbnail.representative(src=image_path)
                  .col-md-4
                    h3 要旨：
                    p #{papers_author_provided_data[parseInt(talk) - 1]["abstract"]}
                  .col-md-4
                    h3 採録時コメント：
                    p （準備中）
        each session in non_archival_sessions
          hr
          .jumbotron
            h1 #{session["session"]}
            ul.list-inline
              //- li.list-inline-item <b>日時：</b>XX/XX XX:XX&mdash;XX:XX
              li.list-inline-item <b>座長：</b>（未定）
              li.list-inline-item <b>チャット座長：</b>（未定）
          each talk in session["talks"]
            each entry in papers_data
              if entry["id"] == talk
                h2 [#{talk}] #{entry["title"]}
                p.authors #{entry["authors"]}
    include includes/footer
    include includes/bootstrap-js
