- var page_title = "WISS 2020: 第28回インタラクティブシステムとソフトウェアに関するワークショップ"

doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    include includes/header
    .container.nav-padding.content
      h1 全体スケジュール
      table.table.table-hover
        each schedule in schedule_data
          thead
            tr
              th(scope="col" colspan="2") #{schedule["name"]}
          tbody
            each entry in schedule["content"]
              tr
                td #{entry["time"]}
                td #{entry["title"]}
      h1 登壇発表・査読なし発表
      .program
        hr
        h1 セッションN: インタラクション
        ul.list-inline
          li.list-inline-item <b>日時：</b>12/6 09:00&mdash;10:00
          li.list-inline-item <b>座長：</b>（未定）
          li.list-inline-item <b>チャット座長：</b>（未定）
        hr
        h2 [1] DanceUnisoner: グループダンスパフォーマンス動画作成インタフェース
        .row
          .col-md-4
            img.img-fluid(src="./assets/logo/logo.png")
          .col-md-4
            h3 要旨：
            p 複数人でのダンスのイメージを振付師1人でも検討・確認・共有できるグループダンスパフォーマンス動画作成インタフェース DanceUnisoner を開発した．DanceUnisoner では，ダンサー1人が踊っているダンス動画をコピー&ペーストの要領で三次元空間に配置していくことで，グループダンスの動画を手軽に作成できる．グループダンスの人数や配置，向き，大きさ，時間ずれを一括で容易に変更できるシンプルなGUIを備える．
          .col-md-4
            h3 採録時コメント：
            p 集団でのダンスを対象とした振り付け支援システムという、多くの人々にとっては馴染みのない題材ではあるが、現場レベルの様々な要求を満たすべく細かいところまでデザインされており、興味深い。著者らの方法論を他分野へどのように波及させられるかの議論を期待したい。            
        h2 [1] DanceUnisoner: グループダンスパフォーマンス動画作成インタフェース
        .row
          .col-md-4
            img.img-fluid(src="./assets/logo/logo.png")
          .col-md-4
            h3 要旨：
            p 複数人でのダンスのイメージを振付師1人でも検討・確認・共有できるグループダンスパフォーマンス動画作成インタフェース DanceUnisoner を開発した．DanceUnisoner では，ダンサー1人が踊っているダンス動画をコピー&ペーストの要領で三次元空間に配置していくことで，グループダンスの動画を手軽に作成できる．グループダンスの人数や配置，向き，大きさ，時間ずれを一括で容易に変更できるシンプルなGUIを備える．
          .col-md-4
            h3 採録時コメント：
            p 集団でのダンスを対象とした振り付け支援システムという、多くの人々にとっては馴染みのない題材ではあるが、現場レベルの様々な要求を満たすべく細かいところまでデザインされており、興味深い。著者らの方法論を他分野へどのように波及させられるかの議論を期待したい。            
    include includes/footer
    include includes/bootstrap-js
